<div class="sidebar">
  <div class="sidebar-header">
    <span class="sidebar-logo">🎓 EduCore</span>
  </div>

  <div class="sidebar-menu">
    <ul>
      <li>
        <a routerLink="/alumnos" routerLinkActive="active">
          <i class="pi pi-users"></i>
          <span>Alumnos</span>
        </a>
      </li>
      <li>
        <a routerLink="/profesores" routerLinkActive="active">
          <i class="pi pi-user"></i>
          <span>Profesores</span>
        </a>
      </li>
      <li>
        <a routerLink="/cursos" routerLinkActive="active">
          <i class="pi pi-book"></i>
          <span>Cursos</span>
        </a>
      </li>
      <li>
        <a routerLink="/matricula" routerLinkActive="active">
          <i class="pi pi-file-edit"></i>
          <span>Matrícula</span>
        </a>
      </li>
      <li>
        <a routerLink="/notas" routerLinkActive="active">
          <i class="pi pi-star"></i>
          <span>Notas</span>
        </a>
      </li>
    </ul>
  </div>
</div>